body {
  padding-top: 100px;
}

input[type=text] {
  background-color: #d3d3d3;
}

.page-header {
  background: #333;
  color: #fff;
  margin-top: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.page-header > h1 {
  margin: 10px 0;
}

.list-group {
  min-height: 200px;
}

.list-group-item {
  margin-top: 10px;
}

.footer {
  background: #333;
  bottom: 0;
  line-height: 30px;
  position: fixed;
  width: 100%;
}

.footer > .container > p {
  margin: 0;
}

.button-group {
  margin-top: 15px;
}

.btn-primary {
  margin-top: 5px;
}

.btn-danger {
  margin-left: 5px;
}

label {
  margin-top: 5px;
}

.form-control {
  margin-top: 5px;
}

.btn-success {
  margin-top: 5px;
}

h4 {
  border-bottom: 1px solid transparent;
  color: #86af49;
  cursor: pointer;
  width: fit-content;
}

h4:hover {
  border-bottom: 1px solid #86af49;
}

.show {
  display: block;
}
